.App {
  text-align: center;
}

.bi {
  color: rgb(187, 187, 187);
  width: 27px;
  height: 27px;
  margin-top: 5px;
  margin-left: 700px;
  transition: 0.5s;
}

.bi:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.itemCount {
  color: rgb(187, 187, 187);
  font-size: 25px;
  max-height: 25px;
  transition: 0.5s;
}

.itemCount:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}