.App {
  text-align: center;
}

.bi {
  color: rgb(187, 187, 187);
  width: 27px;
  height: 27px;
  margin-top: 5px;
  margin-left: 550px;
  transition: 0.5s;
}

.bi:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.navCarCount {
  color: rgb(187, 187, 187);
  font-size: 25px;
  max-height: 25px;
  transition: 0.5s;
  margin-left: 4px;
  
}

.navCarCount:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.itemCountPanel {
  font-size: 20px;
}

.itemListContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.productDiv {
  margin: 10px;
}

.productDiv img {
  max-height: 286px;
  height: 286px;
}

.itemDetailContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.itemDetailContainer img {
  max-height: 286px;
  height: 286px;
}